[Unit]
Description=APRS RPi Kiosk backend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/aprsrpi
EnvironmentFile=-/etc/aprsrpi.env
ExecStart=/opt/aprsrpi/aprsrpi
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
